.container
  .row
    .tile.margin-top50
      %h4.margin-top0
        Your free GitLab trial includes:
      %ul.features
        - data.trial_features.each do |feature|
          %li= feature
      %p
        and more,
        %span.text-bold
          all in a single application.
